*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9967a;
}

div{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(42, 40, 15);
  font-family: 'Orbitron', sans-serif;
}